In [2]:
import pandas as pd
import email

In [3]:
data_path = '/home/vaishnavi/cs685/data/emails.csv'

In [4]:
df = pd.read_csv(data_path)

In [5]:
cats = df['file'].tolist()

In [6]:
cats = [x.split('/')[0] for x in cats]

In [7]:
len(set(cats))

150

In [8]:
def body(messages):
    column = []
    for message in messages:
        e = email.message_from_string(message)
        column.append(e.get_payload())
    return column

In [9]:
msgs = body(df['message'])

In [10]:
df_final = pd.DataFrame({'emp': cats, 'msg': msgs})

In [11]:
df_final

               emp                                                msg
0          allen-p                          Here is our forecast\n\n
1          allen-p  Traveling to have a business meeting takes the...
2          allen-p                     test successful.  way to go!!!
3          allen-p  Randy,\n\n Can you send me a schedule of the s...
4          allen-p                Let's shoot for Tuesday at 11:45.
...            ...                                                ...
517396  zufferli-j  This is a trade with OIL-SPEC-HEDGE-NG (John L...
517397  zufferli-j  Some of my position is with the Alberta Term b...
517398  zufferli-j  2\n\n -----Original Message-----\nFrom: \tDouc...
517399  zufferli-j  Analyst\t\t\t\t\tRank\n\nStephane Brodeur\t\t\...
517400  zufferli-j  i think the YMCA has a class that is for peopl...

[517401 rows x 2 columns]

In [12]:
df['message'][0]

"Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>\nDate: Mon, 14 May 2001 16:39:00 -0700 (PDT)\nFrom: phillip.allen@enron.com\nTo: tim.belden@enron.com\nSubject: \nMime-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: 7bit\nX-From: Phillip K Allen\nX-To: Tim Belden <Tim Belden/Enron@EnronXGate>\nX-cc: \nX-bcc: \nX-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail\nX-Origin: Allen-P\nX-FileName: pallen (Non-Privileged).pst\n\nHere is our forecast\n\n "

In [13]:
x = df['message'][1]
x

"Message-ID: <15464986.1075855378456.JavaMail.evans@thyme>\nDate: Fri, 4 May 2001 13:51:00 -0700 (PDT)\nFrom: phillip.allen@enron.com\nTo: john.lavorato@enron.com\nSubject: Re:\nMime-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nContent-Transfer-Encoding: 7bit\nX-From: Phillip K Allen\nX-To: John J Lavorato <John J Lavorato/ENRON@enronXgate@ENRON>\nX-cc: \nX-bcc: \nX-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail\nX-Origin: Allen-P\nX-FileName: pallen (Non-Privileged).pst\n\nTraveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.\n\nAs far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.  \n\nMy suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time.\n"

In [14]:
x.split('(Non-Privileged).pst\n\n')[1]

"Traveling to have a business meeting takes the fun out of the trip.  Especially if you have to prepare a presentation.  I would suggest holding the business plan meetings here then take a trip without any formal business meetings.  I would even try and get some honest opinions on whether a trip is even desired or necessary.\n\nAs far as the business meetings, I think it would be more productive to try and stimulate discussions across the different groups about what is working and what is not.  Too often the presenter speaks and the others are quiet just waiting for their turn.   The meetings might be better if held in a round table discussion format.  \n\nMy suggestion for where to go is Austin.  Play golf and rent a ski boat and jet ski's.  Flying somewhere takes too much time.\n"

In [15]:
df_final.sample(n=35000)

                 emp                                                msg
484822      taylor-m  FYI\n---------------------- Forwarded by Mark ...
14421         bass-e  Remember:\n\nThe free add/drop period will end...
340915        neal-s  \n---------------------- Forwarded by Scott Ne...
484881      taylor-m  Does this make sense to you?\n----------------...
428827  shackleton-s  Hey, Clem:\n\nHope you had a great New Year!\n...
...              ...                                                ...
36511        blair-l  \t\nFYI, here is an update from our meeting to...
484485      taylor-m  ----- Forwarded by Mark Taylor/HOU/ECT on 09/0...
513982       wolfe-j  Jonda, be a sport. No one expected YOU to get ...
162640    hayslett-r  EAS reviewed a sample of invoices with company...
132247     germany-c  Do you have the April CNR invoice file?\n\n --...

[35000 rows x 2 columns]